
:root {

  --moda-brown: #663300;
  --moda-green: #003300;
  --moda-dark-gray: #2C3E4A;
  --moda-light-gray: #999999;
  --moda-light-brown: #CC9966;
}

/* All Pages */

body {
    font-family: 'Avenir', sans-serif;
}

.btn {
    color: var(--moda-green)
}

.moda-logo {
    margin-left: 0
    margin-right: 0
    margin-top: 10
    margin-bottom: 10
}

.moda-centered {
    text-align: centered;
    justify-content: center;
    align-items: center;
}

.moda-top-margin {
    margin-top: 10px
}

/* Menu Items */

.moda-menu-item {
    margin-top: 10px;
    border-width: 1px;
    border-color: var(--moda-brown)
}

.moda-menu-item-picture {
    width: 256px;
    height: 256px;
}

.moda-menu-item-name {
}

.moda-menu-item-cost {
}

.moda-menu-item-quantity {
}

/* Cart Items */

.moda-cart-item {
    margin-top: 10px;
    border-width: 1px;
    border-color: var(--moda-brown)
}

.moda-cart-item-name {
}

.moda-cart-item-cost {
}

.moda-cart-item-quantity {
}

/* Orders */

.moda-order {
    margin-top: 10px;
    border-width: 1px;
    border-color: var(--moda-brown)
}
